.basket__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.back__btn{
    padding: 0;
    border: none;
    background: transparent;
    width: 30px;
    max-width: 100%;
    margin-bottom: 10px;
}

.back__btn img{
    display: block;
    max-width: 100%;
    display: block;
}